{% extends 'base.html.twig' %}

{% block title %}URL - {{ url }}{% endblock %}

{% block body %}
    <h1>{{ url }}</h1>

    <ul>
        <li>Origin: {{ url.origin }}</li>
        <li>Created at: {{ url.createdAt|format_datetime('medium', 'short') }}</li>
        <li>Name: {{ url.name }}</li>
    </ul>
{% endblock %}